*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

input, label, select, textarea{
  margin-top: 10px;
  font-size: 22px;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
}

.boton {
  border: 1px solid #2e518b; 
  padding: 10px; 
  background-color: #2e518b; 
  color: #ffffff; 
  text-decoration: none; 
  text-transform: uppercase; 
  font-family: 'Helvetica', sans-serif; 
  border-radius: 50px; 
  margin-top: 25px;
  }
